<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <h2 class="sidenav-title">WELCOME TO CHAT</h2>
    <mat-toolbar color="primary">  <span class="name">Hello, {{ (user | async)?.name }}</span>
      <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
