.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: rgba(0,0,0, 0.1);
  border-bottom: 1px solid lightslategrey;
}

mat-sidenav-container{
  background: transparent;
  backdrop-filter: blur(15px)
}

h2.sidenav-title{
  text-align: center;
  color: darkorange;
  margin: 0;
  padding: 10px 0;

}
