.forms-container
  width: 350px
  margin: 150px auto 0
  background: transparent
  backdrop-filter: blur(10px)
  color: white
  border: 2px solid #e31c1c
  border-radius: 10px

mat-card-title
  text-align: center

