mat-sidenav-container.container
  margin: 40px 50px
  background: transparent
  display: flex
  justify-content: center

mat-sidenav-content
  padding: 10px 15px
  border-radius: 5px
  border: 1px solid darkslategrey

.side-block
  flex: 0 0 15%
  background: rgba(0, 0, 0, 0.3)

.chat-block
  flex: 0 0 50%
  background: transparent


.message-user
  background-color: darkseagreen
  width: 60%
  margin-left: auto

.message-user i
  float: left

.message-users
  background-color: darkcyan
  width: 60%
  margin-right: auto

.message-users i
  float: right

mat-card-content
  padding: 5px 10px 20px
  border-radius: 10px

mat-card
  background: rgba(255, 255, 255, 0.4)

mat-card-footer
  background: rgba(3, 43, 65, 0.87)

mat-form-field
  width: 100%

button
  float: right

.example-viewport
  min-height: 400px

.mat-list-item
  color: lightblue

mat-icon
  color: green
  margin-left: auto
