<app-layout>
  <mat-sidenav-container class="container">
    <mat-sidenav-content class="side-block">
      <mat-list>
        <mat-list-item *ngFor="let user of users">{{ user.name }}
          <mat-icon>person</mat-icon>
        </mat-list-item>
      </mat-list>
    </mat-sidenav-content>
    <mat-sidenav-content class="chat-block">
      <mat-card>
        <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
          <div *ngFor="let message of messages">
            <mat-card-content class="message-user" *ngIf="(message.userName === (user | async)?.name)">
              <strong>{{ message.userName }}</strong>
              <p>
                {{ message.text }}
              </p>
              <i>{{message.time}}</i>
            </mat-card-content>
            <mat-card-content *ngIf="!(message.userName === (user | async)?.name)" class="message-users">
              <strong>{{ message.userName }}</strong>
              <p>
                {{ message.text }}
              </p>
              <i>{{message.time}}</i>
            </mat-card-content>
          </div>
        </cdk-virtual-scroll-viewport>
        <mat-card-footer>
          <form fxLayout="row" fxFlex="center stretch" (ngSubmit)="sendMessage()">
            <mat-form-field appearance="outline" fxFlex="90%">
              <mat-label class="form-label">Message</mat-label>
              <textarea style="padding: 5px 10px; color: white" matInput name="messageText"
                        [(ngModel)]="messageText"></textarea>
            </mat-form-field>
            <div fxFlex="10%">
              <button mat-icon-button type="submit">
                <mat-icon>send</mat-icon>
              </button>
            </div>
          </form>
        </mat-card-footer>
      </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-layout>
