body
  background-image: url('https://img5.goodfon.ru/original/1919x1079/6/17/by-theadamtaylor-x-wing-minimalizm-istrebitel-star-wars-scie.jpg')
  background-size: cover
  background-repeat: no-repeat


a.link
  display: block
  margin-bottom: 30px
  color: white
  font-size: 18px
  text-align: center

mat-label.form-label
  color: white

button.enterBtn
  display: block
  margin: 0 auto

mat-icon.login
  font-size: 30px
