<div class="container">
  <app-forms-container title="LOGIN">
    <form fxLayout="column" #f=ngForm (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label class="form-label">Email</mat-label>
        <input
          type="email"
          name="email"
          autocomplete="username"
          email required matInput ngModel #email="ngModel"
        />
        <mat-error *ngIf="email.touched && email.hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="email.touched && email.hasError('email')">
          Enter correct email
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label class="form-label">Password</mat-label>
        <input
          type="password"
          name="password"
          autocomplete="new-password"
          required matInput ngModel #password="ngModel"
        />
        <mat-error *ngIf="password.touched && password.hasError('required')">
          Password is required!
        </mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="center" class="linkRegister">
        <a routerLink="/registration" class="link">If you don't have an account, Register</a>
      </div>
      <button class="enterBtn" mat-icon-button color="warn" [disabled]="f.invalid">
        <mat-icon class="login">login</mat-icon>
      </button>
    </form>
  </app-forms-container>
</div>

