<app-forms-container title="REGISTRATION">
  <form #f=ngForm
        fxLayout="column"
        autocomplete="off"
        (ngSubmit)="onSubmit()"
        [appIdentical]="['password', 'passwordConfirmation']"
  >

    <mat-form-field appearance="outline">
      <mat-label class="form-label">Email</mat-label>
      <input
        type="email"
        name="email"
        autocomplete="username"
        email required matInput ngModel #email="ngModel"
      />
      <mat-error *ngIf="email.touched && email.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')">
        Enter correct email
      </mat-error>
      <mat-error *ngIf="email.touched && email.hasError('serverError')">
        {{ email.getError('serverError') }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label class="form-label">Password</mat-label>
      <input
        type="password"
        name="password"
        id="password"
        autocomplete="new-password"
        required matInput ngModel #password="ngModel"
      />
      <mat-error *ngIf="password.touched && password.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label class="form-label">Password Confirmation</mat-label>
      <input
        type="password"
        name="passwordConfirmation"
        id="passwordConfirmation"
        required matInput ngModel #passwordConfirmation="ngModel"
      />
      <mat-error *ngIf="passwordConfirmation.touched && passwordConfirmation.hasError('identical')">
        Passwords do not match
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label class="form-label">User name</mat-label>
      <input
        type="text"
        name="name"
        required matInput ngModel #name="ngModel"
      />
      <mat-error *ngIf="name.touched && name.hasError('required')">
        User name is required
      </mat-error>
    </mat-form-field>
    <a routerLink="/" class="link">If you have an account, please login</a>
    <button class="enterBtn" mat-icon-button type="submit" [disabled]="f.invalid">
      <mat-icon class="login">login</mat-icon>
    </button>
  </form>
</app-forms-container>


